<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
#showHead ("My Message Board")
</head>
<body #bodyAttributes ()>	
<p><lable>**welcome,欢迎访问我的留言板**</lable></p>	
<hr/>
$screen_placeholder
<hr/>
版权所有@messageBoard
</body>
</html>