<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
#showHead ("My Message Board")
</head>

<body #bodyAttributes ()>
	
<p>欢迎您，dear&nbsp;$!username&nbsp;&nbsp;<a  href="#" onclick="logout()" >退出</a>
</p>
<hr/>

$screen_placeholder

<form action="" method="post" >
	 <input type="hidden" name="action" value="userAction"/>
	 <input type="submit" id="logout" style="display:none;" value="提交" name="event_submit_do_logout"/>
</form>

<p>[<a href="$messageBoardLink.setTarget("message/messageList")">Home</a>]</p>
<hr/>

版权所有@messageBoard
</body>
</html>

<script>
function logout(){
document.getElementById("logout").click();
}
</script>